.up{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.up p{
  color: white;
  padding: 3px;
  margin: 0;
}

.small{
  font-size: 13px;
}

.med{
  font-size: 18px;
}

.down{
  display:flex;
  flex-direction:column;
  /* justify-content: center; */
  align-items:flex-start;
  background-color:rgb(71, 70, 70);
  border-radius: 15px;
}

.contact{
  display:flex;
  flex-direction:row;
  justify-content: space-between ;
  /* align-items: centre; */
  color:white;
  width:100%;
  margin-right: 15px;
  margin-left: 5px; 


}
.lak{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
}

.sim{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  align-items:center;
}
.name{
  display:flex;
  flex-direction:column;
  justify-content:centre;
  align-items: flex-start;
  margin-top: 0;
  padding-top:0;
  padding-left: 5px;
  margin-left: 0;
}

svg{
  fill: white;
  padding-top:15px;
  margin: auto;
  /* padding-left: 25px; */
  /* padding-right: 25px; */
}

.name p{
  margin: 0;
  padding : 5px;
}

.small{
  font-size: 12px;
}
.big{
  font-size: 22px;
}

.text{
  color: white;
  margin: 20px;
}

.mail{
  padding-right: 0;
  padding-left:30px;
}

.ss{
  height: 15px;
  margin: 5px;

}
