

<div class="container-parent">

  <div class="card container">
    <div class="left">
      <p class= "small">Total Application</p>
      <p class= "figure big">7956</p>
      <div class = "percent">
      <svg class= "purple" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M18.25 15.5a.75.75 0 00.75-.75v-9a.75.75 0 00-.75-.75h-9a.75.75 0 000 1.5h7.19L6.22 16.72a.75.75 0 101.06 1.06L17.5 7.56v7.19c0 .414.336.75.75.75z"></path></svg>
      <p class= "small">+3.59%</p>
      </div>
    </div>
  <div class="right">
    <p>...</p>

  </div>

  </div>

  <div class="card container">
    <div class="left">
      <p class= "small">Shortlisted Candidates</p>
      <p class= "figure big">4658</p>
      <div class = "percent">
      <svg class= "purple" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M18.25 15.5a.75.75 0 00.75-.75v-9a.75.75 0 00-.75-.75h-9a.75.75 0 000 1.5h7.19L6.22 16.72a.75.75 0 101.06 1.06L17.5 7.56v7.19c0 .414.336.75.75.75z"></path></svg>
      <p class= "small">+0.6%</p>
      </div>


    </div>
    <div class="right">
      <p>...</p>


    </div>

  </div>

  <div class="card container">
    <div class="left">
      <p class= "small">Total Applications</p>
      <p class= "figure big">1501</p>
      <div class = "percent">
      <svg class= "red" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M18.25 8.5a.75.75 0 01.75.75v9a.75.75 0 01-.75.75h-9a.75.75 0 010-1.5h7.19L6.22 7.28a.75.75 0 011.06-1.06L17.5 16.44V9.25a.75.75 0 01.75-.75z"></path></svg>
      <p class= "small">-0.4%</p>
      </div>
    </div>

    <div class="right">
      <p>...</p>

    </div>

  </div>

</div>
